{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <title>{% block title %}AI Arena{% endblock %}</title>
</head>

<body>
<div id="page">
    <div id="sidebar">
        {% block sidebar %}
            <ul id="sidebar-items">
                <li>
                    <h3>pages</h3>
                    <ul class="links">
                        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'rules' %}">{% trans "Rules" %}</a></li>
                        <li><a href="{% url 'authors' %}">{% trans "Authors" %}</a></li>
                        <li><a href="{% url 'bots' %}">{% trans "Bots" %}</a></li>
                        <li><a href="{% url 'ranking' %}">{% trans "Ranking" %}</a></li>
                        <li><a href="{% url 'results' %}">{% trans "Results" %}</a></li>
                    </ul>
                </li>

                <li>
                    <h3>user</h3>
                    <ul class="links">
                        {% if user.is_authenticated %}
                            <li>{% trans "Logged in" %}: {{ user.username }}</li>
                            <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
                            <li><a href="{% url 'botupload' %}">{% trans "Bot upload" %}</a></li>
                            <li><a href="{% url 'password_change' %}">{% trans "Change password" %}</a></li>
                            <li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">{% trans "Login/Register" %}</a></li>
                        {% endif %}
                    </ul>
                </li>

                {% if user.is_staff %}
                <li>
                    <h3>admin</h3>
                    <ul class="links">
                            <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                            <li><a href="{% url 'api-root' %}">{% trans "API" %}</a></li>
                            <li><a href="https://logs.m1nd.io/app/infra#/logs?_g=()&logFilter=(expression:%27log.file.path%20:%20%22%2Fhome%2Faiarena%2Faiarena-client%2Faiarena-client.log%22%27,kind:kuery)&logMinimap=(intervalSize:3600000)&logPosition=(position:(tiebreaker:2510997,time:1557224559463),streamLive:!t)&logTextview=(textScale:small,wrap:!t)">{% trans "ClientLogs" %}</a></li>
                            <li><a href="https://m1nd.io:8006/">{% trans "Cluster" %}</a></li>
                    </ul>
                </li>
                {% endif %}

                <li>
                    <h3>stats</h3>
                    <ul class="links">
                        <li>Date: {% now "d. N Y" %}</li>
                        <li>Time: {% now "H:i:s" %} UTC</li>
                        <li>Matches (1h): {{ match_count_1h }}</li>
                        <li>Matches (24h): {{ match_count_24h }}</li>
                        <li>Active Bots: {{ active_bots }}</li>
                    </ul>
                </li>

                <li>
                    <h3>links</h3>
                    <ul class="links">
                        <li><a href="https://discord.gg/yDBzbtC">Discord</a></li>
                        <li><a href="https://gitlab.com/aiarena">GitLab</a></li>
                        <li><a href="https://trello.com/b/qw4DYU9H/ai-arena-website">Trello</a></li>
                        <li><a href="https://www.twitch.tv/aiarenastream">Twitch</a></li>
                    </ul>
                </li>
            </ul>
        {% endblock %}
    </div>

    <div id="header">
        {% block header %}
            <h1 class="site-title">StarCraft II AI Arena</h1>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</div>
</body>

</html>
