{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2 align="center"><b>{{ bot.name }}</b></h2>
    <table id="bot_table" style="width: 100%">
        <tbody>
        <tr>
            <td style="width: 30%;">
                <table id="bot_details" style="width: 100%; padding: 0em 1em 1em 2em;">
                    <tbody>
                    <tr>
                        <td><h3><b><u>Details</u></b></h3></td>
                    </tr>
                    <tr>
                        <td><h3>Author</h3> <a href="/authors/{{ bot.user.id }}/">{{ bot.user.username }}</a></td>
                    </tr>
                    <tr>
                        <td><h3>Race</h3> {{ bot.get_plays_race_display }}</td>
                    </tr>
                    <tr>
                        <td><h3>Type</h3> {{ bot.type }}</td>
                    </tr>
                    <tr>
                        <td><h3>ELO</h3> {{ bot.elo }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 70%; vertical-align: top">
                <table id="bot_results" style="width: 100%; vertical-align: top">
                    <tbody>
                    <tr>
                        <td><h3><b><u>Recent results</u></b></h3></td>
                    </tr>
                    <tr>
                        <td><b>Date</b></td>
                        <td><b>Opponent</b></td>
                        <td><b>Result</b></td>
                        <td><b>Duration</b></td>
                        <td><b>Replay</b></td>
                    </tr>
                    {% for result in result_list %}
                        <tr>
                            <td>{{ result.created|date:"d. N Y - H:i:s" }}</td>
                            <td>{{ result.opponent.bot.as_html_link |safe }}</td>
                            <td>{{ result.type }}</td>
                            <td>{{ result.duration }}</td>
                            <td><a href="{{ result.replay_file.url }}">Download</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}
