{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <form method="post" action="{% url "botupload" %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="{% trans 'Upload' %}"/>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
{% endblock %}
