{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <table width="900" id="resultsTable">
        <tbody>
        <tr>
            <td><b>ELO</b></td>
            <td><b>Name</b></td>
            <td><b>Race</b></td>
            <td><b>Author</b></td>
            <td><b>Type</b></td>
        </tr>
        {% for bot in bot_list %}
            <tr>
                <td>{{ bot.elo }}</td>
                <td>{{ bot.as_html_link |safe }}</td>
                <td>{{ bot.get_plays_race_display }}</td>
                <td>{{ bot.user.username }}</td>
                <td>{{ bot.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
