{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <table width="900">
        <tbody>
        <tr>
            <td><b>Date</b></td>
            <td><b>Bot 1</b></td>
            <td><b>Bot 2</b></td>
            <td><b>Result</b></td>
            <td><b>Duration</b></td>
            <td><b>Replay</b></td>
        </tr>
        {% for result in result_list %}
            <tr>
                <td>{{ result.created|date:"d. N Y - H:i:s" }}</td>

                {% if result.winner == result.bot1.bot %}
                        <td><b>{{ result.bot1.bot.as_html_link |safe }}</b></td>
                        <td>{{ result.bot2.bot.as_html_link |safe }}</td>
                {% elif result.winner == result.bot2.bot %}
                        <td>{{ result.bot1.bot.as_html_link |safe }}</td>
                        <td><b>{{ result.bot2.bot.as_html_link |safe }}</b></td>
                {% else %}
                        <td>{{ result.bot1.bot.as_html_link |safe }}</td>
                        <td>{{ result.bot2.bot.as_html_link |safe }}</td>
                {% endif %}

                <td>{{ result.type }}</td>
                <td>{{ result.duration }}</td>
                <td><a href="{{ result.replay_file.url }}">Download</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
